SqlBuildManager.ServiceClient/Service References/Sbm.BuildService/BuildService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SqlBuildManager.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SqlBuildManager.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:33273/BuildService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:33273/BuildService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SqlBuildManager.Interfaces.Console" />
  <xs:complexType name="BuildSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlternateLoggingDatabase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildRequestFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTransactional" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTrialBuild" type="xs:boolean" />
      <xs:element minOccurs="0" name="LocalRootLoggingPath" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MultiDbTextConfig" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="SqlBuildManagerProjectContents" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SqlBuildManagerProjectFileName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TargetServers" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="TimeoutRetryCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuildSettings" nillable="true" type="tns:BuildSettings" />
  <xs:complexType name="ConnectionTestSettings">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TargetServers" nillable="true" type="q3:ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionTestSettings" nillable="true" type="tns:ConnectionTestSettings" />
  <xs:complexType name="ServiceStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentVersion" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SqlBuildManager.Interfaces.Console" minOccurs="0" name="ExecutionStatus" type="q4:ExecutionReturn" />
      <xs:element minOccurs="0" name="Readiness" type="tns:ServiceReadiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceStatus" nillable="true" type="tns:ServiceStatus" />
  <xs:simpleType name="ServiceReadiness">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ReadyToAccept" />
      <xs:enumeration value="PackageAccepted" />
      <xs:enumeration value="PackageValidationError" />
      <xs:enumeration value="Processing" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unreachable" />
      <xs:enumeration value="ProcessingCompletedSuccessfully" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceReadiness" nillable="true" type="tns:ServiceReadiness" />
</xs:schema>