SqlBuildManager.ServiceClient/Service References/Sbm.BuildService/BuildService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService" elementFormDefault="qualified" targetNamespace="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8675/BuildService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SqlBuildManager.Services" />
  <xs:import schemaLocation="http://localhost:8675/BuildService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SqlSync.Connection" />
  <xs:import schemaLocation="http://localhost:8675/BuildService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SqlBuildManager.Services.History" />
  <xs:element name="SubmitBuildPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SqlBuildManager.Services" minOccurs="0" name="settings" nillable="true" type="q1:BuildSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitBuildPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitBuildPackageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDatabaseConnectivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SqlBuildManager.Services" minOccurs="0" name="settings" nillable="true" type="q2:ConnectionTestSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDatabaseConnectivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SqlSync.Connection" minOccurs="0" name="TestDatabaseConnectivityResult" nillable="true" type="q3:ArrayOfConnectionTestResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SqlBuildManager.Services" minOccurs="0" name="GetServiceStatusResult" nillable="true" type="q4:ServiceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastExecutionCommitsLog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastExecutionCommitsLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastExecutionCommitsLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastExecutionErrorsLog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastExecutionErrorsLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastExecutionErrorsLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceLogFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceLogFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServiceLogFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailedDatabaseExecutionLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serverAndDatabase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailedDatabaseExecutionLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDetailedDatabaseExecutionLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServiceVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceBuildHistory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceBuildHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SqlBuildManager.Services.History" minOccurs="0" name="GetServiceBuildHistoryResult" nillable="true" type="q5:ArrayOfBuildRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificCommitsLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="submittedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificCommitsLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSpecificCommitsLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificErrorsLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="submittedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificErrorsLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSpecificErrorsLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificDatabaseExecutionLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="submittedDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="serverAndDatabase" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificDatabaseExecutionLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSpecificDatabaseExecutionLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllErrorLogsForExecution">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="submittedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllErrorLogsForExecutionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllErrorLogsForExecutionResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastFailuresDatabaseConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastFailuresDatabaseConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastFailuresDatabaseConfigResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>