SqlBuildManager.ServiceClient/Service References/Sbm.BuildService/BuildService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BuildService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService" location="http://localhost/SqlBuildManager.Services/BuildService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IBuildService" type="i0:IBuildService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitBuildPackage">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/SubmitBuildPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDatabaseConnectivity">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/TestDatabaseConnectivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceStatus">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/GetServiceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastExecutionCommitsLog">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/GetLastExecutionCommitsLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastExecutionErrorsLog">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/GetLastExecutionErrorsLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceLogFile">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/GetServiceLogFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailedDatabaseExecutionLog">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/GetDetailedDatabaseExecutionLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceVersion">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/GetServiceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceBuildHistory">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/GetServiceBuildHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificCommitsLog">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/GetSpecificCommitsLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificErrorsLog">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/GetSpecificErrorsLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificDatabaseExecutionLog">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/GetSpecificDatabaseExecutionLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllErrorLogsForExecution">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/GetAllErrorLogsForExecution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastFailuresDatabaseConfig">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/GetLastFailuresDatabaseConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfAzureInstancePublicUrls">
      <soap:operation soapAction="http://schemas.mckechney.com/SqlBuildManager.Services/BuildService/IBuildService/GetListOfAzureInstancePublicUrls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BuildService">
    <wsdl:port name="BasicHttpBinding_IBuildService" binding="tns:BasicHttpBinding_IBuildService">
      <soap:address location="http://localhost:8675/BuildService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>