SqlBuildManager.ServiceClient/Service References/Sbm.BuildService/BuildService74.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SqlSync.Connection" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SqlSync.Connection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfConnectionTestResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConnectionTestResult" nillable="true" type="tns:ConnectionTestResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConnectionTestResult" nillable="true" type="tns:ArrayOfConnectionTestResult" />
  <xs:complexType name="ConnectionTestResult">
    <xs:sequence>
      <xs:element name="_x003C_DatabaseName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ServerName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Successful_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="databaseName" nillable="true" type="xs:string" />
      <xs:element name="serverName" nillable="true" type="xs:string" />
      <xs:element name="successful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionTestResult" nillable="true" type="tns:ConnectionTestResult" />
</xs:schema>